html {
  scroll-behavior: smooth;
}


/*------------- custom Divs -------------*/

#homePage {
	height: 100vh;
}

#aboutMePage {
	height: 200vh;
	padding: 70px 0 0 0;
}

#skillsPage {
	height: 180vh;
}

#contactsPage {
	height: 100vh;
}

/*----------------- custom Divs end ------------------*/


/*p {
	color: #573d6c ;
}*/





/*----------------------- Nav -------------------------*/

.nav-link-psalm {
	padding: 0 0 0 100px;
}
/*nav-sub-link-psalm*/
#navbarSupportedContent a {
	padding: 10px 30px ;
}

.nav-sub-link-psalm {
	color: #573d6c !important;
	font-size: 20px;
	margin: 0 5px;
	/*margin: 0 10px;*/
}


.nav-sub-link-psalm:hover {
	color: #ab3b52 !important;
}

/*----------------------- Nav End------------------------*/

























/*---------------------- homePage --------------------------*/

.bg-home-psalm {
	background-color: #edcfb8;
	padding: 100px 0 0 0;
}

.card-psalm {
	margin: 150px 0 0 0;
}

#homePage h5 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 100px;
	color: #573d6c;
}

#homePage #container {
	padding: 150px 0 0 350px;
}

#homePage p {
	padding: 0 0 0 0;
	text-align: right;
	font-size: 20px;
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}

#homePage #container {
	padding: 0 0 0 0 !important;
	text-align: right;
}


.imgHomePage01 {
	width: 700px;
	height: 700px;
	margin: 0 0 0 50px;
	float: left !important;
}
	/*background-color: #ab3b52;*/

.imgHomePage02 {
	width: 300px;
	height: 300px;
	background-color: #ab3b52;
	float: left !important;
	margin: 70px 0 0 50px;
	/*background-image: url('homePageIMG01.png') !important;*/

	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
	
	-webkit-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
}

.imgHomePage03 {
	width: 190px;
	height: 190px;
	background-color: #ab3b52;

}

.btn-details-psalm {
	width: 200px;
	/*height: 40px;*/
	background-color: #ab3b52 !important;
	color: #edcfb8 !important;
}


/*------------------------- homePage End -------------------------*/




















/*------------------------- aboutMePage -------------------------*/

.bg-about-psalm {
	background-color: #ede4dc;
	/*background: url(assets/images/aboutPageIMG01.png);*/
}

.aboutMePic01 {
	display: flex;
	justify-content: center;
	border-radius: 10px 20px;
}

.aboutMePic01 img {
	border-radius: 50%;
	-webkit-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
}


.about-content-intro-a {
	font-family: 'Alfa Slab One', cursive;
	text-align: center;
	font-size: 50px;
	color: #573d6c;
}

.about-content-intro-b {
	text-align: center;
	font-size: 20px;
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
}

#about-part-a {
	width: 35vw;
	height: 10px;
}

#about-part-b {
	width: 45vw;
	/*height: 10px;*/
	margin: 0 0 0 0;
}

/*#about-part-a, #about-part-b {
	margin: 20px 0 0 0;
}
*/
#about-part-b-a {
	width: 50vw;
	/*height: 10px;*/
	margin: 50px 0 0 0;
}

#about-part-b-b {
	width: 50vw;
	/*height: 10px;*/
	margin: 50px 0;
}

.about-content-a-a {
	text-align: left;
	font-size: 50px;
	font-family: 'Alfa Slab One', cursive;
	color: #573d6c !important;
}

.about-content-a-b {
	text-align: left;
	font-size: 20px;
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
}

.btn-about-icon {
	margin: 0 0 30px 0;
	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;

	-webkit-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
}

#about-part-b img {
	/*margin: 0 0 30px 0;
	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;

	-webkit-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);*/
	
}

#about-part-b h5 {
	text-align: left;
	font-size: 24px;
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
}

#about-part-b h6 {
	text-align: left;
	font-size: 15px;
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
	padding: 0 0 20px 0;
}

#about-part-b p {
	text-align: left;
	font-size: 18px;
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}


/*------------------------- AboutPage End -------------------------*/













/*------------------------- Skills -------------------------*/
.bg-skills-psalm {
	background-color: #ede4dc;

}

#skills-margin {
	width: 95vw;
	height: 15vh;
}

#skills-part-a {
	width: 90vw;
	height: 57vh;
	background-color: #edcfb8;
	/*text-align: center;*/
	padding: 0px 0 0 0;

	-webkit-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	-moz-box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);
	box-shadow: 40px 40px 90px 1px rgba(0, 0, 0, 0.4);

	-webkit-border-radius:70px 70px;
	-moz-border-radius:70px 70px;
	border-radius: 70px 70px;
}

#skills-part-a-a {
	width: 90vw;
	text-align: center;
	/*background-color: red;*/
}

#skills-part-a-b {
	width: 90vw;
	text-align: center;
	/*background-color: blue;*/
}

#skills-part-b {
	width: 95vw;
	height: 40vh;
	/*background-color: red;*/
	padding: 60px 0 0 0;
}

#skills-part-c {
	width: 95vw;
	height: 100vh;
	padding: 50px 0 0 0;
}

#skills-part-c-bg {
	width: 50vw;
	height: 100vh;
	background: white;
}




#skills-part-c-a {
	width: 94vw;
	height: 12vh;
}

#skills-part-c-b {
	width: 94vw;
	height: 10vh;
}

#skills-part-c-c {
	width: 94vw;
	height: 6vh;
	margin: 30px 0 0 0;
}

#skills-part-c-a img {
	margin: 0 30px;
}

#skills-part-c-b img {
	margin: 0 30px;
}

#skills-part-c-c img {
	margin: 0 30px;
}




#skills-part-a h1 {
	font-family: 'Alfa Slab One', cursive;
	color: #573d6c;
	padding: 50px 0 50px 0;
}

#skills-part-a h4 {
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}

#skills-part-a p {
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}


#skills-part-b p {
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}

#skills-part-c h1 {
	font-family: 'Alfa Slab One', cursive;
	font-size: 50px;
	/*color: #573d6c;*/
	color: #573d6c;
	text-align: center;
	margin: 0 0 90px 0;
}


/*#skills-banner-b p {
	color: #ede4dc;
}*/







/*------------------------- Skills End -------------------------*/





















/*------------------------- Contacts -------------------------*/
.bg-contacts-psalm {
	background-color: #ede4dc;
}

#main-contacts-psalm {
	width: 95vw;
	padding: 190px 0 0 0;
	margin: auto;
}

#contacts-part-a {
	width: 60vw;
}

#contacts-part-a-a {
	width: 60vw;
	height: 25vh;
	/*background-color: green;*/
}

#contacts-part-a-b {
	width: 60vw;
	height: 25vh;
	/*background-color: blue;*/
}


#contacts-part-a-b-a {
	width: 13vw;
	height: 15vh;
}

#contacts-part-a-b-b {
	width: 13vw;
	height: 15vh;
}

.form-contacts {
	color: #573d6c;
}

#contacts-part-b {
	width: 20vw;
}

#btn-contacts-FB {
	width: 140px;
	height: 140px;
	background: url("assets/images/contactsIMG01.png") !important;
}

.btn-contacts-FB {
	width: 140px;
	height: 140px;
	background-image: url("assets/images/contactsIMG01.png") !important;
}

.btn-contacts-FB:hover {
	background-image: url("assets/images/contactsIMG01-b.png") !important;
}





#contacts-part-a-b p {
	font-family: 'Sniglet', cursive;
	color: #573d6c;
}



#main-contacts-psalm h2,h3,label {
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
}

.contactsFont {
	font-family: 'Sniglet', cursive;
	color: #573d6c !important;
}

.contactsFont-b {
	font-family: 'Sniglet', cursive;
	color: white !important;
}


#footer-psalm {
	width: 99vw;
	height: 40px;
	background-color: #ab3b52;
}


form {  }

.textbox-contacts-psalm {
	color: #573d6c;
	font-family: 'Sniglet', cursive;
	font-weight:500;
	font-size: 18px;
	border-radius: 5px;
	line-height: 22px;
	background-color: transparent;
	border: 2px solid #573d6c;
	transition: all 0.3s;
	padding: 5px;
	/*margin-bottom: 15px;*/
	width: 18vw;
	/*box-sizing: border-box;*/
	outline:0;
}

.textbox-contacts-psalm:focus { 
	border: 2px solid #ab3b52; 
}



textarea {
	height: 150px;
	line-height: 150%;
	resize:vertical;
}

























/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}





/* Bob */
@-webkit-keyframes hvr-bob-b {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-b {
  0% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }

  50% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
  }

  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@-webkit-keyframes hvr-bob-b-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

@keyframes hvr-bob-b-float {
  100% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
}

.hvr-bob-b {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;


}
.hvr-bob-b:hover, .hvr-bob-b:focus, .hvr-bob-b:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;


}







/* Sweep To Bottom */
.hvr-sweep-to-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-sweep-to-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ab3b52;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-sweep-to-bottom:hover, .hvr-sweep-to-bottom:focus, .hvr-sweep-to-bottom:active {
  color: white;
}
.hvr-sweep-to-bottom:hover:before, .hvr-sweep-to-bottom:focus:before, .hvr-sweep-to-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}



/* Round Corners */
.hvr-round-corners {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: border-radius;
  transition-property: border-radius;
}
.hvr-round-corners:hover, .hvr-round-corners:focus, .hvr-round-corners:active {
  border-radius: 1em;
}








.hvr-reveal {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  overflow: hidden;
}
.hvr-reveal:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-color: #573d6c;
  border-style: solid;
  border-width: 0;
  -webkit-transition-property: border-width;
  transition-property: border-width;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-reveal:hover:before, .hvr-reveal:focus:before, .hvr-reveal:active:before {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  border-width: 4px;
}










.hvr-border-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
  box-shadow: inset 0 0 0 0px #e1e1e1, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}
.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {
  box-shadow: inset 0 0 0 4px #573d6c, 0 0 1px rgba(0, 0, 0, 0);
  /* Hack to improve aliasing on mobile/tablet devices */
}





/*.wrapper-btn-psalm{
	width: calc(4 * var(--width));
	height: calc(4 * var(--height));
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-psalm{
	position: relative;
	width: calc(0.8 * var(--width));
	height: calc(0.7 * var(--height));
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	overflow: hidden;
	margin: 0 0.8rem;
	box-shadow: 0 2px 5px rgba(0,0,0,0.2), 0 3px 8px rgba(0,0,0,0.1);
	transition: all 0.3s cubic-bezier(0, 0.22, .3, 1);
	
	&:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.1);
	}

	span{
		color: #fff;
		font-size: 1rem;
		z-index: 10;
		text-transform: uppercase;
		letter-spacing: 2px;
	}

	&._1{ background: #2980b9 }
	&._2{	background: #8e44ad }
	&._3{	background: #16a085 }
	&._4{	background: #e74c3c }


	.back-psalm{
		position: absolute;
		width: 0;
		height: 0;
		filter: url(#filter);
		border-radius: 50%;
		z-index: 5;
		transition: all 2.5s cubic-bezier(0.1, 0.22, .3, 1);
	}

	&._1 .back-psalm{
		left: -50%;
		top: -50%;
		background: #27ae60;
	}
	&._2 .back-psalm{
		right: -50%;
		top: -50%;
		background: #c0392b;
	}
	&._3 .back-psalm{
		left: -50%;
		bottom: -50%;
		background: #34495e;
	}
	&._4 .back-psalm{
		right: -50%;
		bottom: -50%;
		background: #2980b9;
	}

	&:hover .back-psalm{
		width: calc(2 * var(--width));
		height: calc(2 * var(--height));
	}
}

@media only screen and (max-width: 750px) {
	.wrapper-btn-psalm {
		flex-direction: column;
	}
	.button-psalm{
		margin: 0.8rem 0;
	}
}



.support{
	position: absolute;
	right: 10px;
	bottom: 10px;
	padding: 10px;
	display: flex;
}
a{
	margin: 0 20px;
	color: #fff;
	font-size: 2rem;
	transition: all 400ms ease;
}

a:hover{
	color: #222;
}*/